<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<html>

	<body>
		<div class="container">	
			<h1>Pokemon finder</h1>
		
			  <h4>El que quiere Pokemons, que los busque</h4>
			  <form  action="/pokemons" method="GET">
			 
			    <div class="form-group-inline">
			    	<label for="nam" class="col-sm-2 col-form-label"></label>
			    		<table class="table table-striped">
			    		
			      		<td><input type="text" class="form-control" id="subname" placeholder="Ingrese el nombre a buscar" name="subname" required></td>
			   			<td><button type="submit" class="btn btn-default">Buscar</button></td>
			    </div>
		   
			  </form>
		</div>	
	
		<div class="container">	
				<table class="table table-bordered">
					<thead>
						<tr>
							<th style="width: 20%" class="h3" > Foto </th>
							<th style="width: 20%" class="h3"> Nombre </th>
						</tr>
					</thead>
						{{#each pokemons}}
						<tr>
							<td><img src={{pic}} class="img-rounded" onError="this.onerror = '';this.style.visibility='hidden';" ></td>
       						<td class="h4 align-self-center">{{name}}</td>
						</tr>
						{{/each}}
				</table>
			</div>
			
			</div>
			<div class="container">
			<hr size="3"></hr>	
			 <footer class="footer">
      		 	<div class="container">
    				<div class="col-xs-12 col-md-6"><p class="h4 text-left">Hecho por Bruno</p></div >
         			<div class="col-xs-12 col-md-6"><a href="https://github.com/Muabid/pokemon-test" class="btn btn-primary btn-lg " role="button" aria-disabled="true">Link a mí repo</a></div>
     		   </div>
  				
       		
    </footer>
    </div>
	</body>

</html>