<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<html>

	<body>
		<div class="container">	
			<h2>Pokemon finder</h2>
		
			  <h5>El que quiere Pokemons, que los busque</h5>
			  <form  action="/">
			    <div class="form-group-inline">
			    	<label for="pok" class="col-sm-2 col-form-label"></label>
			      		<input type="text" class="form-control" id="pok" placeholder="Ingrese el nombre a buscar" name="pok">
			   			<button type="submit" class="btn btn-default">Submit</button>
			    </div>
			   
			  </form>
			
	
			
				<table class="table table-condensed">
					<thead>
						<tr>
							<th style="width: 20%"> Foto </th>
							<th style="width: 20%"> Nombre </th>
						</tr>
					</thead>
						{{#each pokemons}}
						<tr>
							<td><img src={{pic}} class="img-rounded" alt=""></td>
							<td>{{name}}</td>
						</tr>
						{{/each}}
				</table>
			</div>
	</body>
</html>