<html>
	<body>
		
		<table>
			<tr>
				<th> Nombre </th>
				<th> Apodo </th>
			</tr>
			{{#each pokemon}}
			<tr>
				<td><<img src={{pic}}> </td>
				<td> {{nombre}} </td>
			</tr>
			{{/each}}
		</table>
		
	</body>
</html>